{% extends "_templates/_frameworks/_index.html" %}

{# meta #}
{% set metadata = {
'description': '',
'title': '',
'url': ''
} %}

{% block css %}
{% endblock %}

{% block body %}
contents
{% include "_templates/_icons/_test.html" %}

<body>
  <div class="l-page">


    <main class="l-main intro_bg">

      <section class="mv">
        <h2>
          <picture>
            <source media="(min-width:641px)" srcset="./assets/images/kv_pc.jpg">
            <source media="(max-width:640px)" srcset="./assets/images/kv_pc.jpg">
            <img src="./assets/images/kv_pc.jpg" alt=" うちの子ピカソコンテスト">
          </picture>
        </h2>
      </section>

      <section class="l-intro">
        <div class="intro">
          <p>幼稚園やおうち時間で描いた<br class="sp">イラストや工作など、<br>お子さまが作った作品写真を<br class="sp">募集いたします。<br><br>
            自由な発想で描いた絵や工作は<br>まさに世界に1つだけの<br class="pc-only">わが家のピカソ作品！<br><br>
            入賞者には、豪華賞品を多数<br class="pc-only">ご用意していますので、<br>夏休みの想い出づくりに、<br>たくさんのご応募を<br class="sp">お待ちしております！</p>
          <ul class="intro__img">
            <li><img src=./assets/images/intro_01.jpg alt="ステップ"></li>
            <li><img src=./assets/images/intro_02.jpg alt="ステップ"></li>
            <li><img src=./assets/images/intro_03.jpg alt="ステップ"></li>
          </ul>
        </div>
      </section>


      <section class="lineup">
        <div class="lineup__outline">
          <figure class="lineup__inline__title">
            <img src="./assets/images/lineup_title.png" alt="">
          </figure>
          <figure class="lineup__inline">
            <img src="./assets/images/lineup_pc.jpg" alt="">
          </figure>
        </div>
      </section>

      <section class="l-step">
        <div class="step">
          <h3 class="step__outline">
            <figure class="step__title">
              <img src="./assets/images/title_step.svg" alt="作品の応募方法">
            </figure>
          </h3>
          <h4 class="step__subtitle">
            サイト上からの応募の場合
          </h4>
          <p class="step__desc">応募いただいた中から優秀作品には豪華賞品をプレゼント！</p>
        </div>
        <article class="step__appli">
          <dl class="step__appli__browser">
            <dt class="step__appli__browser__ttl">STEP<span>1</span></dt>
            <dd>
              応募する作品を<br>
              選びましょう！
            </dd>
            <figure>
              <img class="step__appli__browser__img1" src="./assets/images/step_01.png" alt="step1">
            </figure>
          </dl>
          <dl class="step__appli__browser">
            <dt class="step__appli__browser__ttl">STEP<span>2</span></dt>
            <dd>
              応募する作品を<br>
              スマホで撮りましょう！
            </dd>
            <figure>
              <img class="step__appli__browser__img2" src="./assets/images/step_02.png" alt="step2">
            </figure>
          </dl>
          <dl class="step__appli__browser">
            <dt class="step__appli__browser__ttl">STEP<span>3</span></dt>
            <dd>
              写真とエピソードを<br>
              応募フォームから投稿
            </dd>
            <figure>
              <img class="step__appli__browser__img3" src="./assets/images/step_03.png" alt="step3">
            </figure>
          </dl>
        </article>
        <p class="step__appli__browser__desc">
          結果は応募期間終了後の2021年9月上旬ごろ<br>
          後日こちらのサイト上で発表いたします。
        </p>
        <div class="btn__margin">
          <button class="btn__green">
            <a href="#">応募フォームはこちら</a>
          </button>
        </div>

        <div class="step__margin">
          <p class="step__subinsta">さらに、賞品獲得のチャンス！</p>
        </div>

        <div>
          <h3 class="step__insta__ttl">インスタグラムから投稿の場合</h3>
          <p class="step__insta__desc">インスタグラムから投稿の作品も優秀作品には豪華賞品をプレゼント</p>



          <article class="step__insta__outline">
            <dl class="step__insta__group">
              <dt class="step__insta__group__ttl">STEP<span>1</span></dt>
              <dd class="step__insta__group__desc">
                しまうま公式インスタグラム<br>
                （＠shimaumaprint)をフォロー
              </dd>
              <figure>
                <img class="step__insta__img" src="./assets/images/step_insta_01.png" alt="step1">
              </figure>
              <dd class="step__insta__group__btn">
                <a class="step__insta__btn" href="#">インスタグラムをフォロー</a>
              </dd>
            </dl>
            <dl class="step__insta__group">
              <dt class="step__insta__group__ttl">STEP<span>2</span></dt>
              <dd class="step__insta__group__desc">
                作品タイトル、エピソードと一緒に<br>
                「＃うちの子ピカソ」を付けて投稿
              </dd>
              <figure>
                <img class="step__insta__img" src="./assets/images/step_insta_02.png" alt="step1">
              </figure>
              <dd class="step__insta__group__btn">
                <a class="step__insta__btn" href="#">#ハッシュタグをコピー</a>
              </dd>
            </dl>
          </article>
          <ul class="step__insta__outline__att">
            <li>※インスタグラムへの投稿のみでも参加OK！</li>
            <li>※インスタグラムへの投稿のみの場合は、メール便送料無料クーポンは配布出来ませんのでご了承ください。</li>
          </ul>
        </div>
      </section>
      <section class="l-refer">
        <div>
          <h3 class="step__outline">
            <figure class="step__title">
              <img src="./assets/images/title_refer.svg" alt="作品の紹介">
            </figure>
          </h3>
          <img class="refer__sample" src="./assets/images/img_refer.png" alt="">
          <div class="refer__paging">
            <img class="refer__paging__math" src="./assets/images/refer_paging.png" alt="">
            <img class="refer__paging__paging" src="./assets/images/refer_next.png" alt="">
          </div>
        </div>

      </section>

      <section class="l-step">
        <div class="step">
          <h3 class="step__outline">
            <figure class="step__title">
              <img src="./assets/images/title_prize.svg" alt="豪華賞品はこちら">
            </figure>
          </h3>

          <h4 class="step__subtitle">
            サイト上からの応募の場合
          </h4>
          <p class="step__desc">5つの賞品を合計15名様にプレゼント</p>
        </div>
        <div>
          <ul class="prize">
            <li class="div1 prize__list">
              <h5 class="prize__ttl">グランプリ<span class="">(1名)</span></h5>
              <article class="prize__item">
                <dl class="prize__content__outline">
                  <dt class="prize__content__ttl">
                    ロボット掃除機 ルンバ 671
                  </dt>
                  <dd class="prize__content__desc">
                    お部屋の状況を判断しながら、フローリングや畳、カーペットのごみをしっかり吸引し、
                    部屋をすみずみまでキレイに。
                    毎日の床掃除の負担を軽減させます。
                    他の事をしている間に床掃除が完了するので、好きなことを楽しむ時間が生まれます
                  </dd>
                </dl>
                <figure>
                  <img class="prize__img" src="./assets/images/prize_roomba.jpg" alt="">
                </figure>
              </article>
            </li>

            <li class="div2 prize__list">
              <h5 class="prize__ttl">準グランプリ<span></span></h5>
              <article class="prize__item">
                <dl class="prize__content__outline">
                  <dt class="prize__content__ttl">
                    siroca 電気圧力鍋 SP-4D151
                  </dt>
                  <dd class="prize__content__desc">
                    煮込み料理をはじめ、蒸し料理や炊飯など時短調理で手間いらず。スイッチを入れたらあとは「ほったらかし」が可能！
                    1代6役をこなす優れもの
                  </dd>
                </dl>
                <figure class="prize__img__outline">
                  <img class="prize__img__small" src="./assets/images/prize_siroca.jpg" alt="">
                </figure>
              </article>
            </li>
            <li class="div3  prize__list">
              <h5 class="prize__ttl small">ピカソ賞 ~絵系~<span></span></h5>
              <article class="prize__item reset">
                <dl class="prize__content__outline">
                  <dt class="prize__content__ttl small">
                    Amazonギフト券 <span class="prize__item__price">(10,000円分)</span>
                  </dt>
                  <dd>
                    Amazon内のショッピングに使えるギフトカードです
                  </dd>
                </dl>
                <figure>
                  <img class="prize__img__moresmall" src="./assets/images/prize_amazoncard.jpg" alt="">
                </figure>
              </article>

            </li>
            <li class="div4 prize__list ">
              <h5 class="prize__ttl small">エジソン賞 ~工作系~<span></span></h5>
              <article class="prize__item reset">
                <dl class="prize__content__outline">
                  <dt class="prize__content__ttl small">
                    Amazonギフト券 <span class="prize__item__price">(10,000円分)</span>
                  </dt>
                  <dd>
                    Amazon内のショッピングに使えるギフトカードです
                  </dd>
                </dl>
                <figure>
                  <img class="prize__img__moresmall" src="./assets/images/prize_amazoncard.jpg" alt="">
                </figure>
              </article>
            </li>

            <li class="div5 prize__list ">
              <h5 class="prize__ttl small">未来のアーティスト賞<span></span></h5>
              <article class="prize__item next">
                <dl class="prize__content__outline__right-margin">
                  <dt class="prize__content__ttl next">
                    CASIO腕時計<br>
                    LRW-200H-7B
                  </dt>
                  <dd>
                    子どもがひとりで遊びに出かけるようになったときには腕時計が必要！
                    時間を気にする習慣を身に着け、帰る時間を約束！
                  </dd>
                </dl>
                <figure>
                  <img src="./assets/images/prize_casio.jpg" alt="">
                </figure>
              </article>
            </li>
            <li class="div6 prize__list ">
              <h5 class="prize__ttl small">未来のアーティスト賞<span></span></h5>
              <article class="prize__item next">
                <dl class="prize__content__outline__right-margin">
                  <dt class="prize__content__ttl next">
                    真空断熱スポーツボトル<br>
                    FHT-1001F ブラックスター
                  </dt>
                  <dd>
                    ワンタッチで簡単にオープンできる直飲みタイプ。大きな氷が入るワイドな口径。氷で冷たさをさらに長時間キープ。
                  </dd>
                </dl>
                <figure>
                  <img src="./assets/images/prize_thermos.jpg" alt="">
                </figure>
              </article>
            </li>
          </ul>

          <h4 class="prize__subtitle">
            ＼ドイツの知育玩具メーカ「シュライヒ」から特別賞を贈呈／
          </h4>
          <article class="prize__item next">
            <ul class="prize">
              <li class="prize__list ">
                <h5 class="prize__ttl small">シュライヒ特別賞~<span></span></h5>
                <article class="prize__item reset">
                  <dl class="prize__content__outline">
                    <dt class="prize__content__ttl small">
                      シュライヒ特別賞セット
                    </dt>
                    <dd>
                      シュライヒ80周年記念で作られたゴールデンライオン（非売品）としまうま親子の特別セットです！
                    </dd>
                  </dl>
                  <figure>
                    <img class="prize__img__small-center" src="./assets/images/prize_schleich_01.jpg" alt="">
                  </figure>
                </article>
              </li>
              <li class="prize__list ">
                <h5 class="prize__ttl small">愛犬ランプ賞<span></span></h5>
                <article class="prize__item reset">
                  <dl class="prize__content__outline">
                    <dt class="prize__content__ttl small">
                      愛犬ランプ賞セット
                    </dt>
                    <dd>
                      ピカソの愛犬ダックスフントと、かわいい動物の親子セットです。どの親子が届くかはお楽しみ！
                    </dd>
                  </dl>
                  <figure>
                    <img class="prize__img__small-center" src="./assets/images/prize_schleich_02.jpg" alt="">
                  </figure>
                </article>
              </li>
            </ul>

          </article>
          <div class="step__margin">
            <p class="step__subinsta">さらに、賞品獲得のチャンス！</p>
          </div>

          <div>
            <h3 class="step__insta__ttl">インスタグラムから投稿の場合</h3>
            <p class="step__insta__desc">2賞品を合計で11名様にプレゼント！</p>
          </div>


          <article class="prize__item next">
            <ul class="prize__insta">
              <li class="prize__list__insta">
                <h5 class="prize__ttl__insta">最優秀賞<span></span></h5>
                <article class="prize__item">
                  <dl class="prize__content__outline">
                    <dt class="prize__content__ttl">
                      BALMUDA The Light
                    </dt>
                    <dd>
                      子独自の光拡散技術により、目線の先に影を作らない高品質デスクライト。<br>
                      手元を広く照らし、集中力を後押しします。<br>
                      お子さまの勉強机にぴったりです！
                    </dd>
                  </dl>
                  <figure>
                    <img class="prize__img__small-center" src="./assets/images/prize_balmuda.jpg" alt="">
                  </figure>
                </article>
              </li>
              <li class="prize__list__insta ">
                <h5 class="prize__ttl__insta small">愛犬ランプ賞<span></span></h5>
                <article class="prize__item reset">
                  <dl class="prize__content__outline">
                    <dt class="prize__content__ttl small">
                      Amazonギフト券(10,000円分)
                    </dt>
                  </dl>
                  <figure>
                    <img class="prize__img__small-center" src="./assets/images/prize_amazoncard.jpg" alt="">
                  </figure>
                </article>
              </li>
            </ul>
        </div>
      </section>

      <section class="bgc">
        <div class="l-make">
          <div class="make">
            <figure class="make__fig">
              <img src="./assets/images/pb_sample.png" alt="">
            </figure>
            <div class="make__content">
              <h3 class="make__content__ttl">
                こどもの作品は1冊のフォトブックに<br>
                まとめるのがおすすめ！！
              </h3>
              <p class="make__content__desc">
                お子さまのイラストや工作は、スマホで撮影し、
                フォトブックにまとめることで、かさばらずコンパクトに収納が
                できるようになるのでおすすめです。
              </p>
            </div>
          </div>
          <!-- <ul class="slider">

            <li class="slider__outline">
              <img src="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/6-1-6/img/img_01.jpg" alt="">
              <dl class="slider__outline">
                <dt class="slider__ttl">
                  タイトルタイトルタイトル
                </dt>
                <dd class="slider__desc">
                  ＠3969_kerokoさん<br>
                  年齢：●●歳
                </dd>
              </dl>
              <div class="slider__text">
                コメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメント
              </div>
            </li>
            <li class="slider__outline">
              <img src="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/6-1-6/img/img_01.jpg" alt="">
              <dl class="slider__outline">
                <dt class="slider__ttl">
                  タイトルタイトルタイトル
                </dt>
                <dd class="slider__desc">
                  ＠3969_kerokoさん<br>
                  年齢：●●歳
                </dd>
              </dl>
              <div class="slider__text">
                コメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメント
              </div>
            </li>
            <li class="slider__outline">
              <img src="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/6-1-6/img/img_01.jpg" alt="">
              <dl class="slider__outline">
                <dt class="slider__ttl">
                  タイトルタイトルタイトル
                </dt>
                <dd class="slider__desc">
                  ＠3969_kerokoさん<br>
                  年齢：●●歳
                </dd>
              </dl>
              <div class="slider__text">
                コメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメント
              </div>
            </li>
            <li class="slider__outline">
              <img src="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/6-1-6/img/img_01.jpg" alt="">
              <dl class="slider__outline">
                <dt class="slider__ttl">
                  タイトルタイトルタイトル
                </dt>
                <dd class="slider__desc">
                  ＠3969_kerokoさん<br>
                  年齢：●●歳
                </dd>
              </dl>
              <div class="slider__text">
                コメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメント
              </div>
            </li>
            <li class="slider__outline">
              <img src="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/6-1-6/img/img_01.jpg" alt="">
              <dl class="slider__outline">
                <dt class="slider__ttl">
                  タイトルタイトルタイトル
                </dt>
                <dd class="slider__desc">
                  ＠3969_kerokoさん<br>
                  年齢：●●歳
                </dd>
              </dl>
              <div class="slider__text">
                コメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメント
              </div>
            </li>
            <li class="slider__outline">
              <img src="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/6-1-6/img/img_01.jpg" alt="">
              <dl class="slider__outline">
                <dt class="slider__ttl">
                  タイトルタイトルタイトル
                </dt>
                <dd class="slider__desc">
                  ＠3969_kerokoさん<br>
                  年齢：●●歳
                </dd>
              </dl>
              <div class="slider__text">
                コメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメント
              </div>
            </li>
            
          </ul> -->
          <!--/slider-->
          <div class="btn__margin">
            <button class="btn__black">
              <a href="">ブログはこちら</a>
            </button>

            <button class="btn__black">
              <a href="">フォトブックを作る</a>
            </button>
          </div>
        </div>
      </section>

      <section class="l-campaign">
        <div class="campaign">
          <h3 class="step__outline">
            <figure class="step__title">
              <img src="./assets/images/title_campaign.svg" alt="作品の応募方法">
            </figure>
          </h3>
        </div>


        <div class="campaign__content">
          <h4 class="campaign__content__ttl">応募条件</h4>
          <div class="campaign__content__desc">
            <ul>
              <li>・ご応募は、日本在住の方に限らせていただきます。</li>
              <li>・18歳未満の方は、保護者の承諾を得たうえでご応募ください 。</li>
              <li>・一人何点でもご応募できます。ただし、クーポンは一人1回限り有効です。</li>
              <li>・インスタグラムでのご応募は、公開アカウント限定となります。</li>
            </ul>
          </div>
        </div>


        <div class="campaign__content">
          <h4 class="campaign__content__ttl">応募期限</h4>
          <div class="campaign__content__desc">
            2021年8月2日（月）～8月31日（火）
          </div>
        </div>

        <div class="campaign__group">
          <div class="campaign__content borderless">
            <h4 class="campaign__content__ttl">応募方法</h4>
            <div class="campaign__content__desc">
              応募フォームからご投稿ください。<br>また、インスタグラムからも、公式アカウントをフォロー後、「#うちの子ピカソ」のハッシュタグをつけてご投稿いただくことによりご応募いただけます。
            </div>
          </div>
          <div class="btn__margin">
            <button class="btn__green btn__margin2">
              <a href="#">応募フォームはこちら</a>
            </button>
          </div>
        </div>


        <div class="campaign__content">
          <h4 class="campaign__content__ttl">結果発表</h4>
          <div class="campaign__content__desc">
            応募締切後、厳正な審査の上、入賞者を決定します。<br>2021年9月中旬に当ページにて発表、入賞者の方には個別にメールにてご連絡いたします。

            インスタグラムでご応募いただいた方には、DMにてご連絡いたします。<br>
            インスタグラムにてメッセージを受信できるよう設定していただき、しまうまプリント公式アカウント（@shimaumaprint)からのメッセージを受け取っていただきますようお願いいたします。
          </div>
        </div>

      </section>

      <section class="l-att">
        <div class="att">

          <h3 class="att__ttl">注意事項</h3>
          <p class="att__ttl__desc">下記の注意事項に同意された上で、ご応募ください。<br class="pc">実際の投稿をもって、注意事項に同意いただいたものとさせていただきます。
          </p>
          <div class="att__group">
            <ol class="att__desc">
              <li>1.当社にて、公序良俗に反している、広告宣伝に利用している、他社・他者の権利を侵害している等と判断した場合には無効とさせていただきます。</li>
              <li>2.本企画への応募は自己責任となります。著作権、公序良俗、お客様ご本人や他人のプライバシー侵害にご注意ください。応募によるお客様及び第三者の損害には、当社は一切責任を負いません。</li>
              <li>3.応募いただいた作品画像は、本企画の紹介をはじめ、当社の広報・販促活動に利用させていただく場合があります。</li>
              <li>4.本企画は当社の判断により予告なく変更・中止する場合がごさいます。</li>
              <li>5.応募作品の選考結果についての個別のお問い合わせにはお答えできません。</li>
              <li>6.優秀作品、参加賞で獲得された権利は、第三者に譲渡することはできません。</li>
              <li>7.本ページの利用、本キャンペーンへの参加により生じた、いかなるトラブル・損害についても、当社が責を負うべき事由のある場合を除き、一切の責任を負いません。</li>
              <li>8.本コンテストにおける個人情報の取り扱いの詳細については、 「個人情報の取り扱いついて」をご確認ください。</li>
            </ol>
          </div>

          <div class="att__group">
            <h4 class="att__subttl">■免責</h4>
            <ol class="att__desc">
              <li>1. 当社は、本企画によりお客様に生じたいかなる損害についても、当社の責に帰すべき事由の無い限り、一切の責任を負いません。</li>
              <li>2. 本企画への応募に際し、お客様が第三者から苦情や異議申し立て等を受けたとしても、当社は一切関与しません。お客様は、これをお客様の責任において解決するものとします。</li>
            </ol>
          </div>
          <div class="att__group">
            <h4 class="att__subttl">●本企画に関する問い合わせ</h4>
            <p class="att__desc"> しまうまプリント「うちの子ピカソコンテスト」事務局
              E-Mail：support@n-pri.jp<br>
              お問い合わせの際は、タイトルに「うちの子ピカソ作品応募について」と記載してください。
            </p>
            <p class="att__att">
              ※SNS等でのDM機能でのお問い合わせは受け付けておりません。ご連絡いただいた場合も回答できかねますのでご了承ください。</p>
          </div>
        </div>

      </section>

    </main>

    <footer calss="l-footer">

    </footer>

  </div>


  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  <!-- <script src="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/6-1-6/js/6-1-6.js"></script> -->
</body>

{% endblock %}

{% block js %}
{% endblock %}