@font-face {
  src: url("/fonts/NotoSansJP-Regular.woff") format("woff");
  font-family: "Noto Sans JP";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src: url("/fonts/NotoSansJP-Bold.woff") format("woff");
  font-family: "Noto Sans JP";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
