// base
// ------------------------------------
@import 'global/index';
@import 'global/base';

// layout
// ------------------------------------
@import 'layouts/header';
@import 'layouts/footer';

// module
// ------------------------------------
@import 'module/button';

// page
// ------------------------------------
// @import 'page/about';

// state
// ------------------------------------
@import 'state/index';
// @import 'layouts/swiper-bundle.min';

.pc-only {
  @media screen and (max-width: 768px) {
    display: none;
  }
}

.sp-only {
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.vector {
  color:#2eb67d;
}
img {
  width: 100%;
}
* {
  color: #292023;
  font-family: "Roboto", sans-serif;
  line-height: 160%;

}

a {
  text-decoration: none;
}
.btn {
  &__margin {
    text-align: center;
    padding: 0 20px;
  }
  &__green {
    background-color: #2eb67d;
    width: 580px;
    height: 100px;
    border-radius: 100px;
    margin-top: 40px;
    @media screen and (max-width: 768px) {
      width: 100%;
      margin-top: 0;
      height: 65px;
    }

    a {
      display: inline;
      text-decoration: none;
      font-size: 32px;
      color: #ffffff;
      font-weight: bold;
      text-align: center;
      @media screen and (max-width: 768px) {
        font-size: 24px;
        margin: auto;
      }
    }
  }
}
.btn__black {
  height: 80px;
  margin: auto;
  width: 600px;
  background-color: #000;
  border-radius: 100px;
  display: block;
  margin-top: 80px;
  margin-bottom: 64px;
  @media screen and (max-width: 768px) {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 0px;
  }
  a {
    text-decoration: none;
    font-size: 32px;
    color: #ffffff;
    @media screen and (max-width: 768px) {
      font-size: 18px;
    }
  }
}

.vector__img {
  height: 82px;
  width: 38px;
}
.l-page {
  overflow: hidden;
}

.intro_bg {
  background: url(../assets/images/bg_pattern.jpg) repeat;
  content: "";
}

.l-intro {
  max-width: 640px;
  text-align: center;
  margin: 0 auto;
  @media screen and (max-width: 768px) {
    padding: 50px 20px;
  }
}

.intro {
  padding: {
    top: 8%;
  }
  line-height: 32px;
  @media screen and (max-width: 768px) {
    padding: {
      top: 0%;
    }
  }
  &__img {
    display: flex;
    flex: content;
    justify-content: center;
    gap: 20px;
    padding: {
      top: 8%;
      bottom: 100px;
    }
    @media screen and (max-width: 768px) {
      padding: 30px 0 0;
    }
  }
}

.lineup {
  background-color: #fcf0b2;
  padding-bottom: 57px;
  padding-top: 0px;
  display: block;
  @media screen and (max-width: 768px) {
    padding: 50px 20px;
  }
  &__outline {
    max-width: 1181px;
    margin: auto;
  }
  &__inline {
    background: #ffffff;
    padding: 60px 40px 40px;
    position: relative;
    border-radius: 24px;

    &__title {
      position: relative;
      top: 55px;
      left: 0;
      right: 0;
      margin: auto;
      text-align: center;
      width: 80%;
      z-index: 1;
      @media screen and (max-width: 768px) {
        top: 0;
        width: 100%;
      }

      img {
        // display: inline;
        width: 80%;
        // position:absolute;
        // top: 80px;
        // left: 10%;
        // z-index: 1;
      }
    }
  }
}
.l-step {
  max-width: 980px;
  margin: 0 auto;
  text-align: left;
  @media screen and (max-width: 768px) {
    margin: auto;
  }
}

.step {
  color: #2eb67d;
  text-align: center;
  @media screen and (max-width: 768px) {
    padding: 0 20px;
  }
  &p {
    padding: 0px;
  }

  &__title {
    img {
      max-width: 396px;

      text-align: center;
      display: block;
      margin: 0 auto;
      @media screen and (max-width: 768px) {
        max-width: 180px;
      }
    }
  }
  &__subtitle {
    width: 700px;
    padding-top: 70px;
    font-size: 32px;
    line-height: 67px;
    margin: auto;
    font-weight: bold;
    color: #2eb67d;
    border-bottom: #2eb67d 2px dashed;
    @media screen and (max-width: 768px) {
      width: 100%;
      padding-top: 30px;
      font-size: 18px;
      display:flex;
      justify-content: center;
    }
  }
  &__desc {
    font-size: 20px;
    color: #2eb67d;
    line-height: 73px;
    @media screen and (max-width: 768px) {
      line-height: 40px;
    }
  }

  &__appli {
    padding-top: 40px;
    display: flex;
    max-width: 980px;
    gap: 40px;
    @media screen and (max-width: 768px) {
      padding: 50px 20px;
      display: block;
      padding-bottom: 30px;
    }
    &__browser {
      border: 6px solid #2eb67d;
      border-radius: 25px;
      text-align: center;
      margin: auto;
      @media screen and (max-width: 768px) {
        margin-bottom: 30px;
      }
      &__ttl {
        font-weight: bold;
        font-size: 38px;
        color: #2eb67d;
        line-height: 100%;
        span {
          font-size: 58px;
          color: #2eb67d;
        }
      }
      dd {
        line-height: 150%;
        font-weight: 900;
        font-size: 20px;
        text-align: left;
        padding: 35px 25px 40px 25px;
        @media screen and (max-width: 768px) {
          padding: 20px 0;
          text-align: center;
        }
      }
      &__img1 {
        padding: 0 52px 32px 22px;
        vertical-align: bottom;
        @media screen and (max-width: 768px) {
          padding: 10px 60px 18px;
        }
      }
      &__img2 {
        padding: 0 25px 0 40px;
        vertical-align: bottom;
      }
      &__img3 {
        padding: 0 54px 0 74px;
        vertical-align: bottom;
        transform: translateY(4px);
      }
      &__desc {
        padding-top: 57px;
        font-size: 22px;
        font-weight: bold;
        line-height: 38px;
        text-align: center;
        @media screen and (max-width: 768px) {
          padding: 50px 20px;
          font-size: 18px;
        }
      }
    }
  }
  &__margin {
    padding-top: 161px;
    @media screen and (max-width: 768px) {
      padding: 20px 20px 0;
    }
  }

  &__subinsta {
    background-color: #fff2ae;
    color: #ff7998;
    display: block;
    width: 700px;
    padding: 8px;
    font-size: 2rem;
    margin-bottom: 24px;
    border-radius: 10px;
    text-align: center;
    position: relative;
    font-weight: bold;
    margin: auto;
    @media screen and (max-width: 768px) {
      width: 100%;
    }
    &:after {
      content: "";
      position: absolute;
      right: 0;
      bottom: -20px;
      left: 0;
      width: 0px;
      height: 0px;
      margin: auto;
      border-style: solid;
      border-color: #fff2ae transparent transparent transparent;
      border-width: 20px 16px 0 16px;
    }
  }
  &__insta {
    max-width: 880px;
    
    @media screen and (max-width: 768px) {
      padding: 0 20px;
    }
    &__ttl {
      color: #ff7998;
      text-align: center;
      padding-top: 42px;
      font-size: 32px;
      font-weight: bold;
      width: 700px;
      margin: auto;
      padding-bottom: 20px;
      border-bottom: #ff7998 2px dashed;
      @media screen and (max-width: 768px) {
        padding: 28px 20px 10px;
        width: 100%;
        font-size: 18px;
      }
    }
    &__desc {
      font-size: 20px;
      line-height: 73px;
      color: #ff7998;
      text-align: center;
      @media screen and (max-width: 768px) {
        font-size: 14px;
        line-height: 14px;
        padding: 10px 0 20px;
      }
    }

    &__outline {
      display: flex;
      justify-content: space-between;
      gap: 80px;
      max-width: 880px;
      margin: auto;
      @media screen and (max-width: 768px) {
        display: block;
        gap: 0;
      }

      &__att {
        font-weight: bold;
        font-size: 18px;
        text-align: 180%;
        padding-top: 88px;
        text-align: left;
        max-width: 880px;
        margin: auto;
        // margin-bottom: 160px;
        @media screen and (max-width: 768px) {
          padding: 30px 20px 0;
          margin: 0;
        }
      }
    }

    &__group {
      max-width: 400px;
      border: 6px solid #ff7998;
      border-radius: 25px;
      padding-top: 24px;
      padding-bottom: 30px;
      @media screen and (max-width: 768px) {
        margin-bottom: 30px;
        margin:0 auto 30px;;
      }

      &__ttl {
        font-weight: bold;
        font-size: 38px;
        color: #ff7998;
        text-align: center;
        @media screen and (max-width: 768px) {
          font-size: 23px;
        }
        span {
          font-size: 58px;
          color: #ff7998;
          @media screen and (max-width: 768px) {
            font-size: 35px;
          }
        }
      }
      &__desc {
        font-weight: 900;
        font-size: 20px;
        text-align: left;
        padding: 35px 25px 40px 25px;
      }
      &__btn {
        text-align: center;
        @media screen and (max-width: 768px) {
          width: 100%;
        }
      }
    }
    &__img {
      padding: 24px 110px;
      vertical-align: bottom;
    }

    &__btn {
      background-color: #979797;
      color: #ffffff;
      border-radius: 20px;
      margin: auto;

      box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
      display: block;
      width: 352px;
      height: 48px;
      align-items: center;
      line-height: 48px;
      @media screen and (max-width: 768px) {
        width: 100%;
        box-shadow: none;
      }
      a {
        vertical-align: middle;
        margin: auto;
        text-decoration: none;
        font-size: 16px;
        color: #ffffff;
        font-weight: bold;
      }
    }
  }
}
.margin-img1 {
  padding-top: 99px;
  @media screen and (max-width: 768px) {
    padding-top: 50px;
  }
}
.margin-img2 {
  padding-top: 167px;
  @media screen and (max-width: 768px) {
    padding-top: 50px;
  }
}
.margin-img3 {
  padding-top: 171px;
  @media screen and (max-width: 768px) {
    padding-top: 50px;
  }
}
.margin-img4 {
  padding-top: 177px;
  @media screen and (max-width: 768px) {
    padding-top: 50px;
  }
}
.margin__insta {
  @media screen and (max-width: 768px) {
    padding: 0 20px;
  }
}

.l-refer {
  margin: auto;
  overflow: hidden;
  background-color: #fff;
}
.refer {
  &__outline {
    text-align: center;
  }
  &__sample {
    padding-top: 97px;
    max-width: 1240px;
    margin: auto;
  }
  &__paging {
    display: flex;
    gap: 30px;
    padding-top: 42px;
    padding-bottom: 240px;
    justify-content: center;
    @media screen and (max-width: 768px) {
      padding: 0;
    }
    &__math {
      width: 247px;
    }
    &__paging {
      width: 70px;
    }
  }
}
.deco {
  font-size: 28px;
  color: #fff;
  @media screen and (max-width: 768px) {
    font-size: 20px;
  }
}
.num {
  font-size: 22px;
  color: #fff;
  @media screen and (max-width: 768px) {
    font-size: 16px;
    display: block;
  }
}
.prize {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  // grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  @media screen and (max-width: 768px) {
    display: block;
  }
}

.div1 {
  grid-area: 1 / 1 / 2 / 3;
}
.div2 {
  grid-area: 2 / 1 / 3 / 3;
}
.div3 {
  grid-area: 3 / 1 / 4 / 2;
}
.div4 {
  grid-area: 3 / 2 / 4 / 3;
}
.div5 {
  grid-area: 4 / 1 / 5 / 2;
}
.div6 {
  grid-area: 4 / 2 / 5 / 3;
}

.prize {
  max-width: 920px;
  margin: auto;
  @media screen and (max-width: 768px) {
    padding: 0 16px;
  }

  &__list {
    border: #2eb67d 6px solid;
    border-radius: 24px;
    @media screen and (max-width: 768px) {
      margin-bottom: 20px;
      padding: 0;
    }
    &.full {
      width: 920px;
    }
    &__insta {
      border: #ff7998 6px solid;
      border-radius: 24px;
      @media screen and (max-width: 768px) {
        margin: 0 16px 34px;
      }
    }
  }

  &__ttl {
    background-color: #2eb67d;
    color: #fff;
    font-size: 38px;
    font-weight: bold;
    text-align: center;
    padding: 16px 0;
    border-radius: 25px 0 40px 0;
    transform: scale(1.02) translateY(-1px);
    width: 480px;
    display: block;
    @media screen and (max-width: 768px) {
      font-size: 24px;
      width: 100%;
      display: flex;
      border-radius: 0;
      align-items: center;
      line-height: 32px;
      justify-content: center;
    }
    &.small {
      border-radius: 22px 22px 0 0;
      width: auto;
      font-size: 32px;
      @media screen and (max-width: 768px) {
        font-size: 24px;
      }
    }
    &__insta {
      background-color: #ff7998;
      color: #fff;
      font-size: 38px;
      font-weight: bold;
      text-align: center;
      padding: 16px 0;
      border-radius: 25px 0 40px 0;
      transform: scale(1.02) translateY(-1px);
      max-width: 400px;
      display: block;
      @media screen and (max-width: 768px) {
        font-size: 24px;
        border-radius: 0;
        max-width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      &.small {
        border-radius: 22px 22px 0 0;
        width: auto;
        font-size: 32px;
      }
    }
  }

  &__item {
    padding: 0px 40px;
    display: flex;
    align-items: center;
    @media screen and (max-width: 768px) {
      display: block;
      padding: 16px 16px 0;
    }
    &.next {
      padding: 24px 24px 0 24px;
      @media screen and (max-width: 768px) {
        padding: 16px 0 0;
      }
    }
    &.next2 {
      padding: 24px 24px 201px 24px;
      @media screen and (max-width: 768px) {
        padding: 16px 0 0;
      }
    }

    &.reset {
      display: block;
      padding: 24px 24px 0 24px;
      @media screen and (max-width: 768px) {
        padding: 16px 16px 0;
      }
    }
    &__price {
      font-size: 20px;
    }
  }

  &__content {
    &__outline {
      // width: calc(100% - 320px)
      &__right-margin {
        padding-right: 16px;
      }
    }
    &__ttl {
      font-size: 32px;
      font-weight: bold;
      padding-bottom: 16px;
      // padding: 24px 24px 8px;
      vertical-align: 0;
      @media screen and (max-width: 768px) {
        font-size: 20px;
      }
      &.small {
        font-size: 28px;
        @media screen and (max-width: 768px) {
          font-size: 20px;
        }
      }
      &.next {
        font-size: 20px;
        @media screen and (max-width: 768px) {
          // padding: 4px 0 0;
        }
      }
    }
    &__desc {
      font-size: 16px;
      // padding-left: 24px;
      line-height: 160%;
      padding-bottom: 32px;
      @media screen and (max-width: 768px) {
        font-size: 14px;
        padding: 0 0 16px;
      }
    }
  }
  &__img {
    @media screen and (max-width: 768px) {
      max-width: 240px;
      margin: auto;
      display: block;
    }
    &__outline {
      text-align: right;
    }
    &__small {
      width: 75%;
      @media screen and (max-width: 768px) {
        margin: auto;
        display: block;
      }
    }
    &__moresmall {
      max-width: 160px;
      margin: auto;
      display: block;
      padding: 16px 0 24px;
    }
    &__small-sp {
      @media screen and (max-width: 768px) {
        width: 52%;
        display: block;
        margin: auto;
        padding-top: 16px;
      }
    }

    &__small-center {
      margin: 0 auto;
      max-width: 320px;
      display: block;
      padding: 0 0 24px;
      @media screen and (max-width: 768px) {
        width: 52%;
        padding: 16px 0 16px;
      }
    }
  }
  &__subtitle {
    color: #2eb67d;
    font-size: 28px;
    padding-top: 117px;
    text-align: center;
    @media screen and (max-width: 768px) {
      padding: 0 20px 4px;
      font-size: 18px;
      display: flex;
      justify-content: center;    
    }
  }
  &__insta {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 40px;
    @media screen and (max-width: 768px) {
      display: block;
      margin-bottom: 20px;
    }
  }
}
.bgc {
  background-color: #fff2ae;
}
.l-make {
  max-width: 925px;
  padding-top: 133px;
  padding-bottom: 148px;
  margin: auto;

  @media screen and (max-width: 768px) {
    padding: 55px 16px 50px;
  }
}
.make {
  margin-bottom: 63px;
  display: flex;
  @media screen and (max-width: 768px) {
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  &__fig {
    max-width: 300px;
    @media screen and (max-width: 768px) {
      max-width: 150px;
      transform: rotate(45deg);
    }
    &img {
      display: block;
    }
  }
  &__content {
    padding-left: 64px;
    @media screen and (max-width: 768px) {
      padding-left: 0;
    }
    &__ttl {
      font-size: 35px;
      @media screen and (max-width: 768px) {
        font-size: 20px;
      }
    }
    &__desc {
      padding: 15px 0 0;
      font-size: 20px;
      font-weight: bold;
      @media screen and (max-width: 768px) {
        font-size: 16px;
        padding-bottom: 20px;
      }
    }
  }
}

.l-campaign {
  max-width: 960px;
  margin: auto;
  padding: 177px 0 274px;
  font-family: "notosans";
  @media screen and (max-width: 768px) {
    padding: 0 16px 50px;
  }
}
.campaign {
  &__content {
    display: flex;
    border: #b7b7b7 1px solid;
    padding: 40px;
    // align-items: center;
    justify-content: space-between;
    border-radius: 24px;
    align-items: center;
    margin-bottom: 40px;
    background-color: #fff;
    @media screen and (max-width: 768px) {
      padding: 0 0;
      display: block;
      margin-bottom: 20px;
    }
    &:nth-child(2) {
      margin-top: 72px;
      @media screen and (max-width: 768px) {
        margin-top: 20px;
      }
    }
    &:nth-last-child(1) {
      margin-bottom: 0;
    }

    &__ttl {
      padding-right: 24px;
      color: #2eb67d;

      font-size: 28px;
      width: 160px;
      @media screen and (max-width: 768px) {
        width: 100%;
        font-size: 20px;
        padding: 0;
        text-align: center;
        padding: 30px 0 20px;
      }
    }
    &__desc {
      width: calc(100% - 160px - 24px);
      font-weight: bold;
      @media screen and (max-width: 768px) {
        width: 100%;
        padding: 0 20px 30px;
        list-style: none;
      }
    }
  }
}
.campaign__group {
  border: #b7b7b7 1px solid;
  padding: 40px;
  border-radius: 24px;
  margin-bottom: 40px;
  background-color: #fff;
  @media screen and (max-width: 768px) {
    padding: 0 0 30px;
    margin-bottom: 20px;
  }
}
.borderless {
  margin-bottom: 0px;
  padding: 0;
  border: none;
}
.l-att {
  background-color: #f7f7fb;
  font-family: "notosans";
  padding-top: 90px;
  padding-bottom: 113px;
  @media screen and (max-width: 768px) {
    padding: 50px 20px;
  }
}
.btn__margin2 {
  margin-top: 24px;
}

.att {
  margin: auto;
  max-width: 960px;
  border: 1px #fff solid;
  padding: 80px;
  background-color: #fff;
  @media screen and (max-width: 768px) {
    padding: 20px;
  }

  &__ttl {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    @media screen and (max-width: 768px) {
      font-size: 28px;
      padding-bottom: 24px;
    }
    &__desc {
      text-align: center;
      font-weight: bold;
      padding-bottom: 64px;
      padding-top: 24px;
      font-size: 16px;
      @media screen and (max-width: 768px) {
        font-size: 14px;
        padding-bottom: 20px;
      }
    }
  }
  &__desc li {
    padding-bottom: 24px;
    @media screen and (max-width: 768px) {
      font-size: 14px;
    }
    &:nth-last-child(1) {
      padding-bottom: 0;
    }
  }
  &__subttl {
    padding-top: 48px;
  }
}
.illust {
  overflow: hidden;
  &__intro {
    &::before,
    &::after {
      position: absolute;
      content: "";
      width: 100px;
      height: 100px;
      @media screen and (max-width: 768px) {
        display: none;
      }
    }
    &::before {
      transform: translate(-300px, 75px) scale(0.8);
      background-size: contain;
      background: url(../assets/images/illust_heart.svg) no-repeat center;
    }
    &::after {
      transform: translate(300px, 75px);
      background-size: contain;
      background: url(../assets/images/illust_leaf.svg) no-repeat center;
    }
  }
  &__step {
    &::before,
    &::after {
      position: absolute;
      content: "";
      width: 100px;
      height: 100px;
      @media screen and (max-width: 768px) {
        display: none;
      }
    }
    &::before {
      transform: translate(-175px, -130px) scale(0.8);
      background-size: contain;
      background: url(../assets/images/illust_tree.svg) no-repeat center;
      //           background-size: contain;
      //           transform: scale(1.2);
    }
    &::after {
      transform: translate(900px, 100px) scale(0.8);
      background: url(../assets/images/illust_bird.svg) no-repeat center;
    }
  }
  &__insta {
    &::before,
    &::after {
      position: absolute;
      content: "";
      width: 100px;
      height: 100px;
      @media screen and (max-width: 768px) {
        display: none;
      }
    }
    &::before {
      transform: translate(-341px, 22px) scale(0.8);
      background-size: contain;
      background: url(../assets/images/illust_star.svg) no-repeat center;
    }
  }
  &__refer {
    &::before,
    &::after {
      position: absolute;
      content: "";
      width: 100px;
      height: 100px;
      @media screen and (max-width: 768px) {
        display: none;
      }
    }
    &::before {
      transform: translate(-400px, 1100px) scale(0.8) rotate(170deg);
      background-size: contain;
      background: url(../assets/images/illust_leaf.svg) no-repeat center;
    }
    &::after {
      transform: translate(450px, -130px) scale(1, -1);
      background-size: contain;
      background: url(../assets/images/illust_leaf.svg) no-repeat center;
    }
  }
  &__step2 {
    &::before,
    &::after {
      position: absolute;
      content: "";
      width: 100px;
      height: 100px;
      @media screen and (max-width: 768px) {
        display: none;
      }
    }
    &::before {
      transform: translate(-600px, 280px) scale(0.8);
      background-size: contain;
      background: url(../assets/images/illust_star.svg) no-repeat center;
    }
    &::after {
      transform: translate(525px, 730px);
      background-size: contain;
      background: url(../assets/images/illust_triangle.svg) no-repeat center;
    }
  }
  &__schleich {
    &::before,
    &::after {
      position: absolute;
      content: "";
      width: 100px;
      height: 100px;
      @media screen and (max-width: 768px) {
        display: none;
      }
    }
    &::before {
      transform: translate(-140px, -300px) scale(0.8);
      background-size: contain;
      background: url(../assets/images/illust_tree.svg) no-repeat center;
    }
    &::after {
      transform: translate(1000px, 170px);
      background-size: contain;
      background: url(../assets/images/illust_tree2.svg) no-repeat center;
    }
  }
  &__insta2 {
    &::before,
    &::after {
      position: absolute;
      content: "";
      width: 100px;
      height: 100px;
      @media screen and (max-width: 768px) {
        display: none;
      }
    }
    &::before {
      transform: translate(-330px, -40px) scale(-0.8,0.8);
      background-size: contain;
      background: url(../assets/images/illust_heart.svg) no-repeat center;
    }
    &::after {
      transform: translate(310px, 570px);
      background-size: contain;
      background: url(../assets/images/illust_bird.svg) no-repeat center;
    }
  }
  &__campaign {
    &::before,
    &::after {
      position: absolute;
      content: "";
      width: 100px;
      height: 100px;
      @media screen and (max-width: 768px) {
        display: none;
      }
    }
    &::before {
      transform: translate(900px, -60px);
      background-size: contain;
      background: url(../assets/images/illust_heart.svg) no-repeat center;
    }
    &::after {
      transform: translate(-136px, 832px)scale(-0.7,-0.7)rotate(30deg);
      background-size: contain;
      background: url(../assets/images/illust_leaf.svg) no-repeat center;
    }
  }
}


.swiper-slide {
  cursor: pointer;
}

.sample03 .swiper-button-prev,
.sample03 .swiper-button-next {
  display: none;
}

@media (min-width: 768px) {
  .sample03 .swiper-button-prev,
  .sample03 .swiper-button-next {
    display: block;
  }
}
// /*スライド機能*/
// .slider {
//   /*横幅94%で左右に余白を持たせて中央寄せ*/
//   width: 94%;
//   margin: 0 auto;
//   &__outline {
//     background-color: #ffffff;
//     border: #ffffff;
//     padding: 19px 28px 20px;
//     border-radius: 20px;
//     box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
//     margin-bottom: 30px;
//   }
// }

// .slider img {
//   width: 100%; /*スライダー内の画像を横幅100%に*/
//   height: auto;
// }

// /*slickのJSで書かれるタグ内、スライド左右の余白調整*/

// .slider .slick-slide {
//   margin: 0 10px;
// }

// /*矢印の設定*/

// /*戻る、次へ矢印の位置*/
// .slick-prev,
// .slick-next {
//   position: absolute; /*絶対配置にする*/
//   top: 42%;
//   cursor: pointer; /*マウスカーソルを指マークに*/
//   outline: none; /*クリックをしたら出てくる枠線を消す*/
//   border-top: 2px solid #666; /*矢印の色*/
//   border-right: 2px solid #666; /*矢印の色*/
//   height: 15px;
//   width: 15px;
// }

// .slick-prev {
//   /*戻る矢印の位置と形状*/
//   left: -1.5%;
//   transform: rotate(-135deg);
// }

// .slick-next {
//   /*次へ矢印の位置と形状*/
//   right: -1.5%;
//   transform: rotate(45deg);
// }

// /*ドットナビゲーションの設定*/

// .slick-dots {
//   text-align: center;
//   margin: 20px 0 0 0;
// }

// .slick-dots li {
//   display: inline-block;
//   margin: 0 5px;
// }

// .slick-dots button {
//   color: transparent;
//   outline: none;
//   width: 8px; /*ドットボタンのサイズ*/
//   height: 8px; /*ドットボタンのサイズ*/
//   display: block;
//   border-radius: 50%;
//   background: #ccc; /*ドットボタンの色*/
// }

// .slick-dots .slick-active button {
//   background: #333; /*ドットボタンの現在地表示の色*/
// }

// p {
//   padding: 0;
// }
